:root {
  --main-bg: #111;
  --main-txt: #fefefe;
}

body {
  background-color: var(--main-bg);
  color: var(--main-txt);
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.player {
  display: grid;
  justify-items: center;
}
.player .pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.player .mark {
  font-size: 40px;
}
.crown {
  width: 48px;
}