@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --main-bg: #111;
  --main-txt: #fefefe;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: var(--main-txt);
  font-family: 'Poppins', Helvetica, sans-serif;
  margin: 0;
}

main {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, auto);
}

.player {
  display: grid;
  justify-items: center;
  gap: 12px;
}
.player .pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.player .mark {
  font-size: 40px;
}
.player .crown {
  width: 48px;
}
.player .score {
  display: flex;
  align-items: end;
  gap: 12px;

  font-weight: bold;
  font-size: 26px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.game-grid {
  --cell-size: 100px;
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(3, var(--cell-size));
  grid-template-rows: repeat(3, var(--cell-size));
}
